name: Bazel Build

on:
  pull_request:
    types: [opened, reopened, synchronize]
  merge_group:
    types: [checks_requested]

jobs:
  build:
    name: Build Bazel Code
    runs-on: ${{ vars.REPO_RUNNER_LABELS && fromJSON(vars.REPO_RUNNER_LABELS) || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Install protoc
        uses: arduino/setup-protoc@v3

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.14.0
        with:
          disk-cache: true
          repository-cache: true
          bazelisk-cache: true

      - name: Build with Bazel
        run: |
          bazel build //...
